@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Exo", sans-serif;
  background-color: #eeeeee;
  color: #222831;
}

.card-wrapper {
  width: 400px;
  margin: 100px 600px 100px 20px;
  overflow: hidden;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 5px 5px 20px #cbc4c4, -5px -5px 20px #ffffff;
}
.card-image {
  height: 450px;
  width: 400px;
  overflow: hidden;
  border-radius: 17px;
  /* background-color: #222831; */
  margin-bottom: 15px;
  cursor: pointer;
  position: relative;
}

.card-image img {
  width: 400px;
}
.card-image img:hover {
  filter: grayscale(1);
}
#imdb-reating {
  color: wheat;
  background-color: crimson;
  position: absolute;
  top: 0;
  left: 0;
  padding: 4px 8px;
  border-radius: 0 0 5px 0;
  font-weight: bold;
}
#rotten-rating {
  position: absolute;
  background-color: indianred;
  color: white;
  top: 0;
  right: 0;
  font-weight: bold;
  padding: 4px 10px;
  border-radius: 0 0 0 5px;
}
.card-details h1 {
  font-size: 2.4rem;
  text-transform: uppercase;
}
.card-details p {
  font-size: 1.1rem;
  text-align: justify;
  margin: 3px;
}
.card-details p:nth-child(2) {
  color: crimson;
  font-weight: 700;
}
.card-details a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 5px;
  color: white;
  background-color: crimson;
  display: block;
  padding: 5px 0;
  border-radius: 3px;
  text-align: center;
  transition: 0.3s;
}
.card-details a:hover {
  background-color: rgb(185, 17, 51);
  letter-spacing: 10px;
}
.card-details a:active {
  background-color: rgb(233, 33, 73);
}

/* this is card mobile desgin  */

.card-wrapper-2 {
  margin: 100px auto;
  width: 500px;
  background-color: white;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 5px 5px 10px #a29e9e, -5px -5px 10px #ffffff;
  /* padding: 15px; */
}

.card-image-2 {
  width: 500px;
  margin: 20px;
  cursor: pointer;
  overflow: hidden;
  padding: 5px;
  position: relative;
  border-radius: 10px;
}
#new {
  position: absolute;
  color: white;
  background-color: red;
  padding: 7px 16px;
  font-weight: 700;
  font-size: 2rem;
  border-radius: 0 0 10px 0;

  top: 0;
  left: 0;
}

.card-image-2 img {
  width: 300px;
  height: auto;
  transition: 0.3s;
  margin-left: 80px;
}
.card-image-2 img:hover {
  transform: scale(1.1);
}

.card-details-2 h1 {
  text-align: center;
  font-weight: 700;
  font-size: 2.6rem;
  margin-top: 0;
}
.card-details-2 p:nth-child(2) {
  text-align: justify;
  font-size: 1.2rem;
  padding: 5px;
  margin-top: 0;
  margin-bottom: 10px;
  margin: 10px;
}
.card-details-2 p:nth-child(3) {
  margin-top: 10px;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

.card-details-2 .star {
  color: goldenrod;
  font-size: 1.3rem;
  text-align: center;
  letter-spacing: 10px;
  margin-top: 0;
  margin-bottom: 10px;
}

.card-wrapper-2 a {
  text-decoration: none;
  background-color: crimson;
  color: white;
  display: block;
  padding: 20px 0 20px 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.6rem;
  transition: 0.2s;
}

.card-wrapper-2 a:hover {
  background-color: rgb(178, 23, 54);
  letter-spacing: 0.2rem;
}

.card-wrapper-2 a:active {
  background-color: rgb(239, 44, 83);
}

.image-3 {
  margin-bottom: 0;
  width: 300px;
  height: 300px;
}
#buy2 {
  background-color: #00adb5;
}
#buy2:hover {
  background-color: #06848a;
}
#buy2:active {
  background-color: #1ec6cf;
}

#buy4 {
  background-color: mediumvioletred;
}
#buy4:hover {
  background-color: rgb(153, 16, 103);
}
#buy4:active {
  background-color: rgb(215, 36, 149);
}

#buy5 {
  background-color: indianred;
}

#buy5:hover {
  background-color: rgb(156, 70, 70);
}

#buy5:active {
  background-color: rgb(232, 106, 106);
}
